# Visual Studio 관련 파일 및 폴더
.vs/
*.user
*.suo
*.VC.db
*.VC.VC.opendb

# 빌드 결과물
bin/
obj/
[Bb]uild/
[Ll]ogs/

# NuGet 패키지
*.nupkg
*.snupkg
packages/
project.lock.json

# 배포 파일
*.PublishProfiles/

# 임시 파일
*.tmp
*.log
*.cache
*.pid
*.log

# XAML 디자인 파일
*.designer.cs

# 설정 파일
appsettings.json
appsettings.*.json

# OS 관련 파일
.DS_Store
Thumbs.db

# Rider 및 JetBrains IDE 관련
.idea/
*.sln.iml
